services:
    app:
      build: .
      environment:
       - REDIS_PORT=${REDIS_PORT}
       - REDIS_PASS=${REDIS_PASS}
       - REDIS_NUMBER_RICK=${REDIS_NUMBER_RICK}
      depends_on:
       - redis
    redis:
      image: redis:8.0.1-alpine
      ports:
      - 6379:${REDIS_PORT}
      command: sh -c "redis-server --requirepass \"$REDIS_PASS\""
    