services:
    app:
      build: .
      container_name: leetboard
      environment:
       - SERVER_PORT=${SERVER_PORT}

       - REDIS_PORT=${REDIS_PORT}
       - REDIS_PASS=${REDIS_PASS}

       - SESSION_NAME=${SESSION_NAME}
       - SESSION_DURATION=${SESSION_DURATION}
      depends_on:
       - redisDB
    redisDB:
      image: redis:8.0.1-alpine
      container_name: leetboard-redis
      ports:
      - 6379:${REDIS_PORT}
      command: sh -c "redis-server --requirepass \"$REDIS_PASS\"" # to set password